table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f2f2f2;
}

.today {
    background-color: #ddd;
}