<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>RFID University Attendance System</title>
  </head>
  <body>
    <div class="slider-thumb2">
      <div class="slider-thumb">
    <div class="slider-thumb::before"></div>
    <div class="login-container">
      <h1>Welcome to iNeedNames</h1>
      <p>View your class attendance data today!</p>
      <div class="button-container">
        <a href="{{ url_for('login') }}" class="button login-btn">Login</a>
      </div>
    </div>
  </body>
</html>